$slider-height: 509px;
.main-slider {
	background: #f2f2f2;
	margin: 10px 0 30px;
	position: relative;
	&:before {
		content: '';
		@include position(absolute, null 0 0 0);
		width: 800px;
		height: 40px;
		margin: 0 auto;
		text-align: center;
		box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.24);
	    z-index: -1;
	    border-radius: 100%;
	}
	.bx-wrapper {
		min-height: $slider-height;
		.bx-viewport {
			min-height: $slider-height;
			div {
				min-height: $slider-height;	
			}
		}
	}
	.bx-wrapper .bx-viewport {
		padding-bottom: 0;
	}
	.bx-wrapper .bx-pager.bx-default-pager a {
		width: 18px;
		height: 18px;
		background-color: white;
		box-shadow: inset 0.6px 1.9px 2px rgba(0, 0, 1, 0.13);
		border-radius: 50%;
		position: relative;
	}
	.bx-wrapper .bx-pager.bx-default-pager a.active:before {
		content: '';
		@include position(absolute, 5px null null 5px);
		width: 9px;
		height: 9px;
		border-radius: 50%;
		background-color: $ruby;
	}
	.bx-wrapper .bx-pager {
		padding-top: 0;
		bottom: 15px;
	}
	&__list {
		padding: 0;
		margin: 0;
		list-style-type: none;
		&-item {
			@include display(flex);
			@include align-items(center);
			&-text {
				max-width: 40%;
				font-size: 36px;
				margin: 100px 0 0 0;
				display: inline-block;
				font-family: $cav;
			}
		}
	}
}
.description {
	&__block  {
		font-size: 14px;
		color: #635e5e;
		margin: 0 0 10px;
		font-weight: 300;
		p {
			font-size: 14px;
			color: #635e5e;
			margin: 0 0 10px;
			font-weight: 300;
		}
	}
}
.format-block {
	// margin: 10px 0;
	&__tab {
		&-list {
			list-style-type: none;
			padding: 0 40px;
			margin: 0;
			@include display(flex);
			a {
				color: inherit;
				&:focus,
				&:hover {
					text-decoration: none;
					color: inherit;
				}
			}
			&-item {
				width: 20%;
				cursor: pointer;
				padding: 40px 20px;
				text-align: center;
				@include transition(all 0.2s ease-in-out);
				&:hover,
				&.active {
					background: #f7f7f7;
					.format-block__tab-list-item-text {
						color: $ruby;
					}
					&:nth-child(1) {
						.format-block__tab-list-item-img {
							background-position: 33px 0%;
						}
					}
					&:nth-child(2) {
						.format-block__tab-list-item-img {
							background-position: -169px 0%;
						}
					}
					&:nth-child(3) {
						.format-block__tab-list-item-img {
							background-position: -408px 0%;
						}
					}
					&:nth-child(4) {
						.format-block__tab-list-item-img {
							background-position: -633px 0%;
						}
					}
					&:nth-child(5) {
						.format-block__tab-list-item-img {
							background-position: -867px 0%;
						}
					}
				}
				&:nth-child(1) {
					.format-block__tab-list-item-img {
						background-position: 33px 100%;
					}
				}
				&:nth-child(2) {
					.format-block__tab-list-item-img {
						background-position: -169px 95%;
					}
				}
				&:nth-child(3) {
					.format-block__tab-list-item-img {
						background-position: -408px 95%;
					}
				}
				&:nth-child(4) {
					.format-block__tab-list-item-img {
						background-position: -633px 95%;
					}
				}
				&:nth-child(5) {
					.format-block__tab-list-item-img {
						background-position: -867px 95%;
					}
				}
				&-img {
					background: url(../img/sprite.png) 0 100% no-repeat;
					display: inline-block;
					width: 121px;
					height: 72px;
					@include transition(all 0.2s ease-in-out);
					
				}
				&-text {
					color: #fff;
					display: block;
					margin: 15px 0 0 0;
					@include transition(all 0.2s ease-in-out);
				}
			}
		}
		&-block {
			padding: 0 40px;
			display: none;
			@include transition(all 0.2s ease-in-out);
			&.active {
				display: block;
			}
			&-link {
				text-decoration: underline;
				color: #a9b0bf;
				font-weight: 300;
				&:hover,
				&:focus {
					color: #a9b0bf;
					text-decoration: none;
				}
			}
			&-list {
				list-style-type: none;
				padding: 0;
				margin: 0;
				text-align: center;
				&-item {
					display: inline-block;
					vertical-align: top;
					width: 26%;
					margin-bottom: 15px;
					&-img {
						margin-bottom: 3px;
						@include transition(all 0.2s ease-in-out);
						&:hover {
							@include filter(contrast(2));
						}
					}
					&-text {
						font-weight: 300;
						margin: 0 0 3px;
					}
					&-price {
						font-weight: bold!important;
						margin: 0 0 3px;
						font-size: 16px;
					}
					&-note {
						font-style: italic;
						font-size: 12px;
						margin: 0 0 3px;
					}
				}
			}
		}
		&-changer {
			background: #a5adc0;
			padding: 20px 0 0 0;
		}
		&-content {
			padding: 20px 0;
			background: #f7f7f7;
			position: relative;
			&:before {
				content: '';
				@include position(absolute, null 0 0 0);
				width: 800px;
				height: 40px;
				margin: 0 auto;
				text-align: center;
				box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.24);
			    z-index: -1;
			    border-radius: 100%;
			}
		}
	}
}
.advantages-block {
	padding: 32px 0 38px;
	&__list {
		text-align: center;
		list-style-type: none;
		padding: 0;
		margin: 76px 0 0 0;
		@include display(flex);
		@include justify-content(space-around);
		&-item {
			display: inline-block;
			vertical-align: top;
			width: 20%;
			padding: 0 30px;
			margin-bottom: 20px;
			&-img {
				&-holder {
					@include display(flex);
					@include align-items(flex-end);
					@include justify-content(center);
					height: 70px;
					margin-bottom: 29px;
					vertical-align: bottom;
				}
			}
			&-text {
				font-weight: 300;
			}
		}
	}
}
.book-subject {
	padding: 55px 0 70px;
	background: #f7f7f7;
	position: relative;
	&:before {
		content: '';
		@include position(absolute, null 0 0 0);
		width: 800px;
		height: 40px;
		margin: 0 auto;
		text-align: center;
		box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.24);
	    z-index: -1;
	    border-radius: 100%;
	}
	&__section {
		@include display(flex);
		@include flex-wrap(wrap);
		@include justify-content(center);
		margin-top: 66px;
		a {
			text-decoration: none;
			color: inherit;
		}
		&-block {
			width: 50%;
			// height: 199px;
			@include display(flex);
			@include flex-wrap(wrap);
			@include align-content(center);
			@include justify-content(center);
			text-align: center;
			@include transition(all 0.2s ease-in-out);
			position: relative;
			&.left-arrow {
				.book-subject__section-block-inner {
					&:before {
						content: '';
						@include position(absolute, calc(50% - 14px) null null -12px);
						@include triangle(24px, #fff, left);
						@include transition(all 0.2s ease-in-out);
						z-index: 10;
					}
					&:hover {
						&:before {
							@include triangle(24px, $ruby, left);
						}
					}
				}
			}
			&.right-arrow {
				.book-subject__section-block-inner {
					&:before {
						content: '';
						@include position(absolute, calc(50% - 14px) -12px null null);
						@include triangle(24px, #fff, right);
						@include transition(all 0.2s ease-in-out);
						z-index: 10;
					}
					&:hover {
						&:before {
							@include triangle(24px, $ruby, right);
						}
					}
				}
			}
			&-img {
				&-holder {
					width: 50%;
				}
			}
			&-inner {
				width: 50%;
				background: #fff;
				position: relative;
				@include transition(all 0.2s ease-in-out);
				@include display(flex);
				@include align-content(center);
				@include justify-content(center);
				@include flex-wrap(wrap);
				&:hover {
					background: $ruby;
					color: #fff;
				}
			}
			&-title {
				font-family: $cav;
				font-size: 24px;
				margin: 0 0 10px;
				width: 100%;
			}
			&-text {
				margin: 0;
				font-weight: 300;
				width: 100%;
			}
		}
	}
}
.form-block {
	background: url(../img/wall.jpg) 0 0 no-repeat;
	&__inner {
		position: relative;
		min-height: 500px;
		padding: 30px 0;
		&:before {
			content: '';
			@include position(absolute, null -130px 0 null);
			width: 619px;
			height: 581px;
			background: url(../img/girl.png) 0 0 no-repeat;
			background-size: 100%;
		}
	}
}
.form-block {
	&__inner {
		&-title {
			text-transform: uppercase;
			font-size: 18px;
			margin: 0 0 20px 0;
		}
		&-text {
			font-weight: 300;
			margin: 0 0 10px;
		}
		&-slider-wrap {
			.bx-wrapper .bx-pager.bx-default-pager a {
				width: 18px;
				height: 18px;
				background-color: white;
				box-shadow: inset 0.6px 1.9px 2px rgba(0, 0, 1, 0.13);
				border-radius: 50%;
				position: relative;
			}
			.bx-wrapper .bx-pager.bx-default-pager a.active:before {
				content: '';
				@include position(absolute, 5px null null 5px);
				width: 9px;
				height: 9px;
				border-radius: 50%;
				background-color: #a9b0bf;
			}
			.bx-wrapper .bx-pager {
				bottom: -20px;
			}
		}
	}
}
.breadcrumbs {
	margin-bottom: 17px;
	&__list {
		list-style-type: none;
		padding: 0;
		margin: 0;
		&-item {
			display: inline-block;
			position: relative;
			font-weight: 300;
			&:not(:last-child) {
				padding-right: 15px;
				&:before {
					content: '>';
					@include position(absolute, -1px 1px null null);

				}
			}
			&-link {
				letter-spacing: 1px;
				color: #635e5e;
				text-decoration: underline;
				@include transition(all 0.2s ease-in-out);
				&:focus,
				&:hover {
					color: $ruby;
					text-decoration: none;
				}
				&.current {
					color: $ruby;
					text-decoration: none;
				}
			}
		}
	}
}
.content {
	padding: 17px 0 0 0;
	&.wall-bg {
		background: url(../img/wall-bg.png) top center no-repeat;
	}
}
.category-section {
	&__menu {
		text-align: center;
		list-style-type: none;
		padding: 0;
		margin: 0 0 30px 0;
		&-item {
			padding: 3px 40px;
			display: inline-block;
			vertical-align: top;
			&:not(:last-child) {
				border-right: 1px solid #c2c2c2;
			}
			&-link {
				color: #635e5e;
				@include transition(all 0.2s ease-in-out);
				&.current,
				&:focus,
				&:hover {
					color: $ruby;
					text-decoration: none;
				}
			}
		}
	}
	&__description {
		margin-bottom: 35px;
		font-weight: 300;
		letter-spacing: 1px;
	    line-height: 21px;
	}
	&__block {
		position: relative;
		overflow: hidden;
		max-width: 360px;
		margin: 0 auto 30px auto;
		&-link {
			color: #4b4848;
			&:hover,
			&:focus {
				color: #4b4848;
				text-decoration: none;
			}
			&:hover {
				.category-section__block-inner {
					@include transform(translateY(0%));	
				}
			}
		}
		&-inner {
			@include position(absolute, null 0 0 0);
			@include transform(translateY(100%));
			background-color: rgba(255,255,255, 0.9);
			padding: 20px 26px;
			@include transition(all 0.2s ease-in-out);
			
			&-title {
				text-align: center;
				font-family: $cav;
				margin: 0 0 7px;
				font-size: 18px;
				text-align: center;
			}
			&-text {
				color: #4b4848;
				margin: 0;
				font-weight: 300;
			}
		}
	}
	&__modal {
		&-title {
			margin: 0;
			font-weight: bold;
			font-size: 16px;
			display: block;
		}
		&-text {
			font-weight: 300;
			display: block;
		}
	}
}
.premium-section {
	padding: 50px 0;
	background: #fff;
	&__block {
		max-width: 360px;
		margin: 0 auto 40px auto;
		&-title {
			text-align: center;
			font-size: 18px;
			margin: 0 0 5px;
			font-family: $cav;
		}
		&-text {
			font-weight: 300;
			margin: 0 0 20px;
		}
		&-slider {
			.bx-wrapper {
				margin-bottom: 35px;
			}
			.bx-wrapper .bx-pager.bx-default-pager a {
				width: 18px;
				height: 18px;
				background-color: white;
				box-shadow: inset 0.6px 1.9px 2px rgba(0, 0, 1, 0.13);
				border-radius: 50%;
				position: relative;
			}
			.bx-wrapper .bx-pager.bx-default-pager a.active:before {
				content: '';
				@include position(absolute, 5px null null 5px);
				width: 9px;
				height: 9px;
				border-radius: 50%;
				background-color: #a9b0bf;
			}
			.bx-wrapper .bx-pager {
				bottom: -20px;
			}
		}
		&-price {
			font-size: 20px;
			letter-spacing: 1px;
			color: #4b4848;
			@include transition(all 0.2s ease-in-out);
			border-radius: 25px;
			border: 1px solid $ruby;
			display: inline-block;
			font-weight: 300;
			padding: 6px 27px;
			background: #fff;
			position: relative;
			margin: 20px 0 0;
			&:hover,
			&:focus {
				color: $ruby;
				text-decoration: none;
			}
			&:before {
				content: '';
				@include position(absolute, -15px 0 null 0);
				margin: 0 auto;
				width: 60px;
				height: 15px;
				background: url(../img/price-triangle.png) 0 0 no-repeat;
			}
		}
	}
}
.wall-bg {
	background: url(../img/wall.jpg) 0 0 no-repeat;
	background-size: cover;
	position: relative;
	z-index: -2;
}

.double-slider {
	&__block {
		padding: 0 50px;
		.bx-wrapper .bx-prev {
		  left: -50px;
		}
		.bx-wrapper .bx-next {
		  right: -50px;
		}
	}
	&__list {
		list-style-type: none;
		padding: 0;
		margin: 0;
		&-item {
			&-img {
				margin-bottom: 20px;
			}
			&-title {
				font-weight: bold;
				font-size: 16px;
				color: #635e5e;
				margin: 0 0 10px;
			}
			&-text {
				font-weight: 300;
				margin: 0;
			}
		}
	}
}