@media (max-width: 767px) {
	
}
@media (max-width: 499px) {
	.modal {
		width: 100%;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.header {
		&__right-block {
			@include position(absolute, 0 null null null);	
		}
		&__logo {
			float: none;
			img {
				max-width: 70px;
			}
		}
		&__center {
			margin: 0;
		}
		&__info {
			margin: 12px 0 15px 0;
		}
		&__menu {
			margin-bottom: 20px;
		}
		&__social {
			text-align: left;
			margin: 5px 0 0 0;
		}
		&__buttons {
			&-dropdown {
				padding: 45px 0;
				&-list {
					padding: 35px 20px  25px 10px;
					&-text {
						font-size: 13px;
					}
				}
			}
		}
	}
	.main-slider {
		$slider-height: 350px;
		.bx-wrapper {
			min-height: $slider-height;
			.bx-viewport {
				min-height: $slider-height;
				div {
					min-height: $slider-height;
					background-size: auto 100%!important;
					background-position: 115% center!important;
				}
			}
		}
		&__list {
			&-item {
				&-text {
					font-size: 22px;
				}
			}
		}
	}
	.title {
		font-size: 30px;
	}
	.book-subject {
		&__section {
			&-block  {
				height: 150px;
				&--left-arrow,
				&--right-arrow {
					&:before {
						top: calc(60% - 24px);	
					}
				}
			}
		}
	}
	.form-block {
		&__inner {
			&:before {
				display: none;
			}
		}
	}
	.format-block {
		&__tab {
			&-list {
				&-item {
					padding: 20px;
					@include display(flex);
					@include align-items(center);
					@include justify-content(center);
					&-text  {
						margin: 0;
					}
				}
			}
		}
	}
	.footer {
		&__menu {
			margin: 5px 0 12px;
			&-list {
				&-item {
					margin: 0 4px;
					&-link {
						font-size: 13px;
					}
				}
			}
		}
		&__info {
			letter-spacing: 0;
			&-holder {
				font-size: 13px;
				padding: 0 7px;
			}
		}
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.header {
		&__logo {
			img {
				max-width: 85px;
			}
		}
		&__center {
			margin: 0 -20px 0 100px;
		}
		&__info-holder {
			font-size: 12px;
			padding: 0 5px 0 8px;
		}
		&__menu {
			margin-bottom: 25px;
			&-list {
				&-item {
					margin: 0 3px;
				}
			}
		}
	}
	.main-slider {
		$slider-height: 400px;
		.bx-wrapper {
			min-height: $slider-height;
			.bx-viewport {
				min-height: $slider-height;
				div {
					min-height: $slider-height;
					background-size: auto 100%!important;
					background-position: 107% center!important;
				}
			}
		}
		&__list {
			&-item {
				&-text {
					font-size: 28px;
				}
			}
		}
	}
	.form-block {
		&__inner {
			&:before {
				width: 509px;
				height: 471px;
			}
		}
	}
	.footer {
		&__info {
			margin: 12px -10px 27px 0;
		}
	}
}
@media (min-width: 1200px) {
	
}