@media (max-width: 767px) {
	.header {
		padding: 0 0 10px 0;
		&__logo {
			position: relative;
			z-index: 3;
			width: 91px;
		}
		&__center {
			margin: 0 0px 0 120px;
		}
		&__menu {
			margin: 0;
			padding: 0;
			border: none;
			@include position(absolute, -12px 0 null 0);
			&-list {
				background: #a5adc0;
				z-index: 10;
				position: relative;
				opacity: 0;
				padding: 25px 0;
				pointer-events: none;
				&-item {
					display: block;
					&-link {
						padding: 4px 0;
						font-size: 16px;
						display: block;
						color: #fff;
					}
				}
			}
		}
		&__info {
			text-align: left;
			padding-top: 14px;
			margin-bottom: 15px;
			&-holder {
				border-right: none!important;
				padding: 0;
				margin-right: 40px;
				margin-bottom: 7px;
				display: block;
				&:not(.header__info-holder--link) {
					margin-right: 0;
				}
			}
		}
		&__buttons {
			&-list {
				&-item {

					&-link  {
						width: 200px;
						padding: 10px;
					}
				}
			}
			&-dropdown {
				padding: 25px 0;
				top: 45px;
				max-width: 	400px;
				right: 0;
				margin: 0 auto;
				&-list {
					display: block;
					text-align: left;
					padding: 25px;
					&:before {
						top: 0;
						left: 20%;
					}
					&-img {
						display: none;
					}
					&-item {
						display: block;
						width: 100%;
					}
				}
			}
		}
	}
	.title {
		font-size: 26px;
	}
	.main-slider {
		$slider-height: 250px;
		.bx-wrapper {
			min-height: $slider-height;
			.bx-viewport {
				min-height: $slider-height;
				div {
					min-height: $slider-height;
					background-size: auto 100%!important;
					background-position: 150% center!important;
				}
				.container {
					padding: 0 0 0 15px;
				}
			}
		}
		&__list {
			&-item {
				&-text {
					font-size: 18px;
					margin: 50px 0 0 0;
				}
			}
		}
	}
	.description {
		&__frame {
			height: 250px;
		}
	}
	.advantages-block {
		&__list {
			@include flex-wrap(wrap);
			&-item {
				width: 45%;
			}
		}
	}
	.form-block {
		background-size: cover;
		&__inner {
			&:before {
				display: none;
			}
			&-slider-wrap {
				.bx-wrapper img {
					margin: 0 auto;
				}
			}
			&-description {
				max-width: 450px;
				margin: 0 auto;
			}
		}
	}
	.format-block {
		&__tab {
			&-list {
				padding: 0;
				&-item {
					padding: 20px 10px;
					line-height: normal;
					@include display(flex);
					@include align-items(center);
					@include justify-content(center);
					&-text {
						margin: 0;
					}
				}
			}
			&-block {
				padding: 0;
				&-list {
					&-item {
						width: 32%;
					}
				}
				&-iframe {
					height: 250px;
				}
			}
		}
	}
	.book-subject {
		&__section {
			margin: 0 auto;
			max-width: 550px;
			&-block {
				height: auto;
				width: 100%;
				border-bottom: 1px solid #ddd;
				&:nth-child(1),
				&:nth-child(4),
				&:nth-child(5),
				&:nth-child(7) {
					flex-direction:row-reverse;
				}
				&-img {
					height: 100%;
					width: 100%;
				}
				&-inner {
					&:before {
						display: none;
					}
				}
			}
		}
	}
	.footer {
		&__info {
			text-align: left;
		    padding-top: 0px;
		    margin-bottom: 42px;
		    margin-top: 10px;
		}
	}
	.category-section {
		&__menu {
			margin-top: 30px;
			text-align: left;
			padding: 20px;
			display: none;
			max-width: 350px;
			background: #fff;
			border-radius: 25px;
			border: 1px solid $ruby;
			position: relative;
			&:before {
				content: '';
				width: 35px;
				height: 26px;
				background: url(../img/drop-arrow.png) 0 0 no-repeat;
				@include position(absolute, -26px null null 40px);
			}
			&-item {
				padding: 0;
				margin-bottom: 7px;
				display: block;
				border-right: none!important;
			}
			&-btn {
				margin-bottom: 30px;
				img {
				    margin: -1px 5px 0 0;
				}
			}
		}
		&__block {
			&-inner {
				padding: 13px 16px;
				&-title {
					font-size: 16px;
				}
			}
		}
	}
}
@media (max-width: 499px) {
	.modal {
		width: 100%;
	}
	.header {
		margin-bottom: 25px;
		padding-top: 10px;
		&__logo {
			max-width: 42px;
		}
		&__info {
			&-holder {
				margin-right: 0;
				font-size: 12px;
			}
		}
		&__buttons {
			&-list {
				width: 100%;
				&-item {
					width: 50%;
					&-link {
						width: auto;
						font-size: 12px;
						padding: 10px 0;
					}
				}
			}
		}
		&__center {
			margin: 0;
			clear: both;
		}
	}
	.advantages-block {
		&__list {
			margin-top: 25px;
			&-item {
				width: 100%;
			}
		}
	}
	.title {
		font-size: 18px;
		margin-bottom: 15px;
	}
	.format-block {
		&__tab {
			&-list {
				margin: 0 -15px;
				&-item {
					padding: 10px 5px;
					&-text {
						font-size: 12px;
					}
				}
			}
			&-block {
				padding: 0;
				&-list {
					&-item {
						width: 48%;
					}
				}
				&-iframe {
					height: 180px;
				}
			}
		}
	}
	.book-subject {
		&__section {
			&-block {
				&-title {
					font-size: 16px;
					padding: 0 6px;
					line-height: normal;
				}
				&-text {
					font-size: 12px;
				}
				&-inner {
					&:before {
						display: none;
					}
				}
			}
		}
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.header {
		&__right-block {
			@include position(absolute, 0 null null null);	
		}
		&__logo {
			float: none;
			img {
				max-width: 70px;
			}
		}
		&__center {
			margin: 0;
		}
		&__info {
			margin: 12px 0 15px 0;
		}
		&__menu {
			margin-bottom: 20px;
		}
		&__social {
			text-align: left;
			margin: 5px 0 0 0;
		}
		&__buttons {
			&-dropdown {
				padding: 45px 0;
				&-list {
					padding: 35px 20px  25px 10px;
					&-text {
						font-size: 13px;
					}
				}
			}
		}
	}
	.main-slider {
		$slider-height: 350px;
		.bx-wrapper {
			min-height: $slider-height;
			.bx-viewport {
				min-height: $slider-height;
				div {
					min-height: $slider-height;
					background-size: auto 100%!important;
					background-position: 115% center!important;
				}
			}
		}
		&__list {
			&-item {
				&-text {
					font-size: 22px;
				}
			}
		}
	}
	.title {
		font-size: 30px;
	}
	.book-subject {
		&__section {
			&-block  {
				max-height: 119px;
				overflow: hidden;
				&-inner {
					&--left-arrow,
					&--right-arrow {
						&:before {
							top: calc(60% - 24px);	
						}
					}	
				}
				&-title {
					font-size: 18px;
				}
			}
		}
	}
	.form-block {
		&__inner {
			&:before {
				display: none;
			}
		}
	}
	.format-block {
		&__tab {
			&-list {
				&-item {
					padding: 20px;
					@include display(flex);
					@include align-items(center);
					@include justify-content(center);
					&-text  {
						margin: 0;
					}
				}
			}
		}
	}
	.footer {
		&__menu {
			margin: 5px 0 12px;
			&-list {
				&-item {
					margin: 0 4px;
					&-link {
						font-size: 13px;
					}
				}
			}
		}
		&__info {
			letter-spacing: 0;
			&-holder {
				font-size: 13px;
				padding: 0 7px;
			}
		}
	}
	.category-section {
		&__menu {
			&-item {
				padding: 3px 18px;
			}
		}
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.header {
		&__logo {
			img {
				max-width: 85px;
			}
		}
		&__center {
			margin: 0 -20px 0 100px;
		}
		&__info-holder {
			font-size: 12px;
			padding: 0 5px 0 8px;
		}
		&__menu {
			margin-bottom: 25px;
			&-list {
				&-item {
					margin: 0 3px;
				}
			}
		}
	}
	.main-slider {
		$slider-height: 400px;
		.bx-wrapper {
			min-height: $slider-height;
			.bx-viewport {
				min-height: $slider-height;
				div {
					min-height: $slider-height;
					background-size: auto 100%!important;
					background-position: 107% center!important;
				}
			}
		}
		&__list {
			&-item {
				&-text {
					font-size: 28px;
				}
			}
		}
	}
	.form-block {
		&__inner {
			&:before {
				width: 509px;
				height: 471px;
			}
		}
	}
	.footer {
		&__info {
			margin: 12px -10px 27px 0;
		}
	}
	.category-section {
		&__block {
			&-inner {
				padding: 15px 20px;
				&-title {
					font-size: 16px;
				}
				&-text {
					font-size: 13px;
				}
			}
		}
	}
}
@media (min-width: 1200px) {
	
}