// пагинация
.pagination
	a.pagination__link-prev(href="#!")
		img(src="img/pagination-arrow.png", alt="pagination")
	a.pagination__link(href="#!") 1
	a.pagination__link.current(href="#!") 2
	a.pagination__link(href="#!") 3
	a.pagination__link(href="#!") 4
	a.pagination__link(href="#!") 5
	a.pagination__link-next(href="#!")
		img(src="img/pagination-arrow.png", alt="pagination")
// / пагинация